server {
    listen ${PORT};
    server_name _;

    # Directly serve the metadata XML file
    location = /metadata {
        add_header Content-Type application/xml;
        alias /usr/share/nginx/html/metadata.xml;
    }

    # Simplified proxy
    location / {
        proxy_pass http://localhost:5000;
    }
} 